<form [formGroup]="loginForm" (submit)="submitForm.emit()">
  <ion-item>
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input
      type="email"
      placeholder="Email"
      formControlName="email"
      inputmode="email"
      autofocus="true"
    ></ion-input>
    <app-form-error *ngIf="email.dirty && email.hasError('required')">
      Email obrigatório
    </app-form-error>
    <app-form-error *ngIf="email.dirty && email.hasError('email')">
      Email inválido
    </app-form-error>
  </ion-item>

  <ion-item>
    <ion-icon name="key" color="primary" slot="start"></ion-icon>
    <ion-input
      type="password"
      placeholder="Senha"
      formControlName="password"
    ></ion-input>
    <app-form-error *ngIf="password.dirty && password.hasError('required')">
      Senha obrigatória
    </app-form-error>
    <app-form-error *ngIf="password.dirty && password.hasError('minlength')">
      Mínimo 6 caracteres
    </app-form-error>
  </ion-item>

  <ion-button
    expand="block"
    type="submit"
    [disabled]="loginForm.invalid">
    {{ textSubmit }}
  </ion-button>
</form>